/*--------------------------------------------------------
    Custom SASS Styles
--------------------------------------------------------*/
.navbar {
	background-color: #131a2c!important;
	-webkit-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.logo-img {
    width: 115px;
}
.nav-item {
	padding-left: 2rem;
}
.nav-link {
	color: #000000!important;
	line-height: 50px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-toggler {
	border:2px solid #fff;
}

/* add your custome hamburger icon */
.navbar-dark .navbar-toggler-icon {
    background-image: url(../img/toggler.png);
}

.navbar-dark .navbar-toggler:focus {
	outline: none;
} 

.customNav  {
	background-color: #ee3739!important;
	-webkit-box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
	animation: navSlide 1s ease forwards;
}

@keyframes navSlide {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}


.hm-values-box {
    padding-left: 30px;
}

.br15 {
    border-radius: 15px;
}

.cta-wrapper {
    background-image: url('/public/img/home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgb(0 0 0 / 66%);
    padding: 150px 0;
    
    h3 {
        color: #fff;
    }

    h5 {
        color: #fff;
        font-weight: 400;
    }

    p{
        color: #fff;
        line-height: 30px;
        font-weight: 300;
    }
}