.carousel-caption {
    left: 10%;
    bottom: 20%;
    text-align: left;

    p {
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 600;
    }

    h5 {
        color: $color-white;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 24px;
    }
}