/*-----------------------------------------------------------------------------------------
	Footer
-----------------------------------------------------------------------------------------*/

.footer-wrapper {
	background-color: #030b3c !important;
	padding: 3rem 0 1rem; 
}

.social-ul {
	padding-left: 0.5rem;
	display: inline-block;
	margin-bottom: 0;
	list-style: none;
}

.social-li {
	display: inline-block;
	padding: 2rem 1rem 0rem 0rem;
	list-style: none;
}

.social-circle {
	border: 1px solid #e9ae0b;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.social-li i {
	color: #e9ae0b;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

.social-circle:hover,.social-li i:hover {
	color: #adb5bd;
} 

.menu-ul {
	list-style: none;
	padding-left: 0;

	li {
		list-style: none;
	}
}

.menu-title {
	color: #fff;
}

.menu-li a {
	color: #fff;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
	font-weight: 300;
	font-size: 14px;
}

.menu-li a:hover,.email-text a:hover  {
	color:#adb5bd; 
} 

.contact-us-title,.email-text a {
	color: #fff;
}

.address-wrap {
	display: flex;
}

.address-text p, .email-text a, .phone-number p {
	margin-bottom: 0;
	font-weight: 300;
	color: #fff;
	font-size: 14px;
}

.address-icon, .address-text, .email-icon, 
.email-text, .phone-icon, .phone-number {
	display: inline-block;
	color: #e9ae0b;
}

.address-icon,.email-icon,.phone-icon {
	padding-right: 0.8rem;
}

.lft-row {
	padding-top: 1.5rem;
	text-align: center;
}

.lft-list {
	display: flex;
	justify-content: center;
	list-style: none;
}

.lft-list li {
	padding: 0 0.75rem;
    border-right: 1px solid #fff;
	list-style: none;
}

.lft-list li.lft-list-last-item {
	border-right: none;
}

.lft-list li a {
	color: #fff;
	font-weight: 300;
	font-size: 14px;
}

.copyright-wrap {
	background-color: #040c3c;
}

.copyright-inner h5 {
	color: #fff;
	text-align: center;
	padding: 0.5rem;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
}

.copy-link {
	color: #e9ae0b;
}

.copy-link:hover {
	color: #fff;
}